/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gnome-desktop3-decl-list.txt
/gnome-desktop3-decl.txt
/gnome-desktop3-undeclared.txt
/gnome-desktop3-undocumented.txt
/gnome-desktop3-unused.txt
/gnome-desktop3.args
/gnome-desktop3.hierarchy
/gnome-desktop3.interfaces
/gnome-desktop3.prerequisites
/gnome-desktop3.signals
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/gnome-desktop3-unused.sgml
/xml
