/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/desktop-docs/Makefile.in
/desktop-docs/fdl/Makefile.in
/desktop-docs/gpl/Makefile.in
/desktop-docs/lgpl/Makefile.in
/docs/Makefile.in
/docs/reference/Makefile.in
/docs/reference/gnome-desktop3/Makefile.in
/gnome-desktop-*.tar.bz2
/gnome-desktop-*.tar.gz
/gnome-desktop-*.tar.xz
/gnome-doc-utils.make
/gnome-version.xml
/gnome-version.xml.in
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libgnome-desktop/Makefile.in
/libtool
/ltmain.sh
/m4/gnome-doc-utils.m4
/m4/gtk-doc.m4
/m4/intltool.m4
/missing
/mkinstalldirs
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gnome-desktop-3.0.pot
/po/stamp-it
/so_locations
/stamp-h1
/tags
