/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ar/ar.mo
/ar/ar.stamp
/ar/index.docbook
/ca/ca.mo
/ca/ca.stamp
/ca/index.docbook
/cs/cs.mo
/cs/cs.stamp
/cs/index.docbook
/de/de.mo
/de/de.stamp
/de/index.docbook
/el/el.mo
/el/el.stamp
/el/index.docbook
/es/es.mo
/es/es.stamp
/es/index.docbook
/eu/eu.mo
/eu/eu.stamp
/eu/index.docbook
/fi/fi.mo
/fi/fi.stamp
/fi/index.docbook
/fr/fr.mo
/fr/fr.stamp
/fr/index.docbook
/gl/gl.mo
/gl/gl.stamp
/gl/index.docbook
/hu/hu.mo
/hu/hu.stamp
/hu/index.docbook
/ko/index.docbook
/ko/ko.mo
/ko/ko.stamp
/nds/index.docbook
/nds/nds.mo
/nds/nds.stamp
/oc/index.docbook
/oc/oc.mo
/oc/oc.stamp
/pa/index.docbook
/pa/pa.mo
/pa/pa.stamp
/pt_BR/index.docbook
/pt_BR/pt_BR.mo
/pt_BR/pt_BR.stamp
/sl/index.docbook
/sl/sl.mo
/sl/sl.stamp
/so_locations
/sr/index.docbook
/sr/sr.mo
/sr/sr.stamp
/sr@latin/index.docbook
/sr@latin/sr@latin.mo
/sr@latin/sr@latin.stamp
/sv/index.docbook
/sv/sv.mo
/sv/sv.stamp
/tags
/uk/index.docbook
/uk/uk.mo
/uk/uk.stamp
/vi/index.docbook
/vi/vi.mo
/vi/vi.stamp
/zh_CN/index.docbook
/zh_CN/zh_CN.mo
/zh_CN/zh_CN.stamp
