/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/GnomeDesktop-3.0.gir
/GnomeDesktop-3.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gnome-desktop-3.0-uninstalled.pc
/gnome-desktop-3.0.pc
/gnome-rr-debug
/libgnome-desktop-3.la
/libgsystem.la
/meta-dbus-idle-monitor.c
/meta-dbus-idle-monitor.h
/meta-dbus-xrandr.c
/meta-dbus-xrandr.h
/pnp.ids
/so_locations
/tags
/test-desktop-thumbnail
/test-idle-monitor
/test-languages
/test-pnp-ids
/test-wall-clock
/test-xkb-info
